#live-map-canvas{
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    margin: auto;
    background-color: white;
    width: 50vw;
}

#train-line{
    display: flex;
    justify-content: center;
}


.draw-st{
    display: flex;
}

.station-point{
    display: block;
    background-color: black;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    z-index: 1;
}

.station-line{
    position: absolute;
    width: 5vw;
    height: 8px;
    background-color: red;
    transform: translate(4px, 4px);
}

.station-name{
    width: 100px;
    display: block;
    transform: translate(5px, 15px) rotate(45deg);
}